---
layout      : 'default'
css         : 'icon'
standalone  : true

element     : 'icon'
elementType : 'element'

title       : 'Icon'
description : 'An icon is a glyph used to represent something else'
type        : 'UI Element'

themes      : ['Default']
---

<%- @partial('header', { tabs: { icon: 'Icons', definition: 'Definition' } }) %>

<script src="/javascript/icon.js"></script>

<div class="main ui container">

  <div class="ui active tab" data-tab="icon">

    <iconSearch class="ui right aligned search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search icons...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </iconSearch>

    <h2 class="ui header">Icon Set</h2>
    <p>An icon set contains an arbitrary number of glyphs</p>
    <div class="ui ignored warning message">
      Icons serve a very similar function to text in a page. In Fomantic, icons receive a special tag <code>&lt;i&gt;</code> which allow for an abbreviated markup when sitting along-side text.
    </div>

    <div class="ui ignored message">Fomantic includes a complete port of <a href="https://fontawesome.com/" target="_blank">Font Awesome {{ version }}</a> designed by the <a href="https://twitter.com/fontawesome">FontAwesome</a> team for its standard icon set.</div>

    {% for category in categories -%}
    <div class="icon example">
      <h4 class="ui header">{{ category.name }}</h4>
      <p>{{ category.description }}</p>
      <div class="ui doubling five column grid">
        {%- for icon in category.icons %}
        <div class="column"><i class="{{ icon.name }} icon" data-search-terms="{{ icon.searchTerms }}"></i>{{ icon.name }}</div>
        {%- endfor %}
      </div>
      <div class="existing code">
        {%- for icon in category.icons %}
        <i class="{{ icon.name }} icon"></i>
        {%- endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="ui tab" data-tab="definition">

    <h2 class="ui dividing header">States</h2>

    <div class="example">
      <h4 class="ui header">Disabled</h4>
      <p>An icon can show that it is disabled</p>
      <i class="disabled users icon"></i>
    </div>

    <div class="example">
      <h4 class="ui header">Loading</h4>
      <p>An icon can be used as a simple loader</p>
      <i class="spinner loading icon"></i>
      <i class="notched circle loading icon"></i>
      <i class="asterisk loading icon"></i>
    </div>


    <h2 class="ui dividing header">Variations</h2>

    <div class="example">
      <h4 class="ui header">Fitted</h4>
      <p>An icon can be fitted, without any space to the left or right of it.</p>
      Tight spacing
      <i class="fitted help icon"></i>
      Tight spacing
    </div>

    <div class="example">
      <h4 class="ui header">Size</h4>
      <p>An icon can vary in size</p>
      <i class="mini home icon"></i>
      <i class="tiny home icon"></i>
      <i class="small home icon"></i>
      <br>
      <i class="home icon"></i>
      <br>
      <i class="large home icon"></i>
      <br>
      <i class="big home icon"></i>
      <br>
      <i class="huge home icon"></i>
      <br>
      <i class="massive home icon"></i>
    </div>

    <div class="example">
      <h4 class="ui header">Link</h4>
      <p>An icon can be formatted as a link</p>
      <i class="close link icon"></i>
      <i class="help link icon"></i>
    </div>

    <div class="example">
      <h4 class="ui header">Flipped</h4>
      <p>An icon can be flipped</p>
      <i class="horizontally flipped cloud icon"></i>
      <i class="vertically flipped cloud icon"></i>
    </div>

    <div class="example">
      <h4 class="ui header">Rotated</h4>
      <p>An icon can be rotated</p>
      <i class="clockwise rotated cloud icon"></i>
      <i class="counterclockwise rotated cloud icon"></i>
    </div>


    <div class="example">
      <h4 class="ui header">Circular</h4>
      <p>An icon can be formatted to appear circular</p>
      <i class="circular users icon"></i>
      <i class="circular teal users icon"></i>
      <i class="circular inverted users icon"></i>
      <i class="circular inverted teal users icon"></i>
    </div>
    <div class="example">
      <h4 class="ui header">Circular Colored <span class="ui black label">New in 2.8.8</span></h4>
      <p>The circular color can appear in the same color as the icon itself</p>
      <i class="circular colored red users icon"></i>
      <i class="circular colored green users icon"></i>
      <i class="circular colored blue users icon"></i>
    </div>
    <div class="example">
      <h4 class="ui header">Bordered</h4>
      <div class="ui ignored info message">
        In <code>0.x.x</code> bordered was formally known as <code>squared</code>
      </div>
      <p>An icon can be formatted to appear bordered</p>
      <i class="bordered users icon"></i>
      <i class="bordered teal users icon"></i>
      <i class="bordered inverted black users icon"></i>
      <i class="bordered inverted teal users icon"></i>
    </div>
    <div class="example">
      <h4 class="ui header">Bordered Colored <span class="ui black label">New in 2.8.8</span></h4>
      <p>The bordered color can appear in the same color as the icon itself</p>
      <i class="bordered colored red users icon"></i>
      <i class="bordered colored green users icon"></i>
      <i class="bordered colored blue users icon"></i>
    </div>
    <div class="example">
      <h4 class="ui header">Colored</h4>
      <p>An icon can be formatted with different colors</p>
      <i class="primary users icon"></i>
      <i class="secondary users icon"></i>
      <i class="red users icon"></i>
      <i class="orange users icon"></i>
      <i class="yellow users icon"></i>
      <i class="olive users icon"></i>
      <i class="green users icon"></i>
      <i class="teal users icon"></i>
      <i class="blue users icon"></i>
      <i class="violet users icon"></i>
      <i class="purple users icon"></i>
      <i class="pink users icon"></i>
      <i class="brown users icon"></i>
      <i class="grey users icon"></i>
      <i class="black users icon"></i>
    </div>

    <div class="example">
      <h4 class="ui header">Inverted</h4>
      <p>An icon can have its colors inverted for contrast</p>
      <div class="ui inverted segment">
        <i class="inverted users icon"></i>
        <i class="inverted primary users icon"></i>
        <i class="inverted secondary users icon"></i>
        <i class="inverted red users icon"></i>
        <i class="inverted orange users icon"></i>
        <i class="inverted yellow users icon"></i>
        <i class="inverted olive users icon"></i>
        <i class="inverted green users icon"></i>
        <i class="inverted teal users icon"></i>
        <i class="inverted blue users icon"></i>
        <i class="inverted violet users icon"></i>
        <i class="inverted purple users icon"></i>
        <i class="inverted pink users icon"></i>
        <i class="inverted brown users icon"></i>
        <i class="inverted grey users icon"></i>
      </div>
    </div>

    <h2 class="ui dividing header">Groups</h2>

    <div class="example">
      <h4 class="ui header">Icons</h4>
      <p>Several icons can be used together as a group</p>
      <i class="huge icons">
        <i class="big circle outline icon"></i>
        <i class="user icon"></i>
      </i>
    </div>
    <div class="another example">
      <i class="huge icons">
        <i class="big red dont icon"></i>
        <i class="black user icon"></i>
      </i>
    </div>
    <div class="example" data-class="corner">
      <h4 class="ui header">Corner Icon</h4>
      <p>A group of icons can display a smaller corner icon</p>
      <i class="huge icons">
        <i class="puzzle icon"></i>
        <i class="corner add icon"></i>
      </i>
    </div>
    <div class="another example">
      <i class="huge icons">
        <i class="puzzle icon"></i>
        <i class="top left corner add icon"></i>
      </i>
      <i class="huge icons">
        <i class="puzzle icon"></i>
        <i class="top right corner add icon"></i>
      </i>
      <i class="huge icons">
        <i class="puzzle icon"></i>
        <i class="bottom left corner add icon"></i>
      </i>
      <i class="huge icons">
        <i class="puzzle icon"></i>
        <i class="bottom right corner add icon"></i>
      </i>
    </div>
    <div class="another example">
      <h2 class="ui header">
        <i class="large icons">
          <i class="twitter icon"></i>
          <i class="inverted corner add icon"></i>
        </i>
        Add on Twitter
      </h2>
    </div>

  </div>

</div>
